<!doctype html>
<html>
    <head>
        <title>Valve Control</title>
        <script type="text/javascript" src="/static/jquery-1.10.2.min.js"></script>
        <script type="text/javascript">
        function loadTemp(){
            $.getJSON("/temp",
                function(data) {
                $('#temp').text('Current temperature, C: ' + data.curr_temp );
            });
            setTimeout('loadTemp()',5000);
        }

        function populate(form, data) {
            $.each(data, function(key, value){
                $('[name='+key+']', form).val(value);
            });
        }

        function ConvertFormToJSON(form){
            var array = jQuery(form).serializeArray();
            var json = {};

            jQuery.each(array, function() {
            json[this.name] = this.value || '';
            });

            return json;
        }

        $(document).ready( function() {
            jQuery('form#config').bind('submit', function(event){
                event.preventDefault();

                var form = this;
                var json = ConvertFormToJSON(form);
                $.ajax({
                    url: '/config',
                    type: 'POST',
                    data: JSON.stringify(json),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json'
                });
                return true;
            });
            loadTemp();
            $.getJSON('/config',
                    function(data) {
                        populate('form#config', data);
                    });
        });
        </script>
    </head>
    <body>
        <h1 style="text-align:center">ValveControl</h1>

        <form id="config">
            <p style="text-align:center">
            <label for="temp_set">Target temperature, C:</label>
            <input id="temp_set" name="temp_set" type="text"><br>
            <label for="temp_delta">Target temperature delta, C:</label>
            <input id="temp_delta" name="temp_delta" type="text"><br>
            <label for="delay">Delay of iteration time, sec:</label>
            <input id="delay" name="delay" type="text"><br>
            <label for="missed_delay">Delay to off the valve, sec:</label>
            <input id="missed_delay" name="missed_delay" type="text" ><br>
            <label for="missed_stabilize_delay">Delay for temperature stabilization, sec:</label>
            <input id="missed_stabilize_delay" name="missed_stabilize_delay" type="text"><br>
            <br />
            <input type="submit" value="Apply">
            </p>
        </form>
        <h2 style="text-align:center" id='temp'>TEMP</h2>
    </body>
</html>
